[submodule "external/cvdrones"]
	path = external/cvdrones
	url = https://github.com/puku0x/cvdrone.git
[submodule "external/cmdline"]
	path = external/cmdline
	url = https://github.com/tanakh/cmdline.git
[submodule "external/libfreenect2"]
	path = external/libfreenect2
	url = https://github.com/OpenKinect/libfreenect2.git
[submodule "external/drone-gl"]
	path = external/drone-gl
	url = https://github.com/pemayfes2020/drone-gl.git
