[submodule "external/cvdrones"]
	path = external/cvdrones
	url = https://github.com/puku0x/cvdrone.git
[submodule "external/cmdline"]
	path = external/cmdline
	url = https://github.com/tanakh/cmdline.git
